body {
  background-image: url('../images/blue-background.jpg');
}

.rectangle {
  position: absolute;
  border: 2px solid #cccccc;
  box-sizing: border-box;
}

.outerRectangle {
  width: 500px;
  height: 500px;
  top: 50px;
  left: 50px;
}

.centerRectangle {
  width: 400px;
  height: 400px;
  top: 100px;
  left: 100px;
  padding: 100px;
  box-sizing: border-box;
}

.innerRectangle {
  width: 300px;
  background-image: url('../images/blue-background.jpg');
  z-index: 100;
  height: 300px;
  top: 150px;
  left: 150px;
  border: 3px solid #f1f1f1;
}

.cornerRectangleTopLeft {
  width: 253px;
  height: 253px;
  top: 50px;
  left: 50px;
}

.cornerRectangleTopRight {
  width: 250px;
  height: 253px;
  top: 50px;
  left: 300px;

}

.cornerRectangleBottomLeft {
  width: 253px;
  height: 250px;
  top: 300px;
  left: 50px;
}

.cornerRectangleBottomRight {
  width: 250px;
  height: 250px;
  top: 300px;
  left: 300px;
}

#test {
  position: fixed;
  right: 0;
  background-color: #cccccc;
  display: none;
}

.tile {
  position: absolute;
  box-sizing: border-box;
  background-image: url('../images/blue-background.jpg');
  border: 2px solid #cccccc;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  z-index: 100;
  transition: border .1s ease-in-out;
  box-shadow: inset 2px 2px 2px 2px black;
}

.tile:hover {
  background-image: url('../images/blue-background.jpg');
}

.gameInformation {
  margin-left: 600px;
  color: #f3f3f3;
  margin-top: 60px;
  width: 20%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  box-shadow: inset 2px 2px 2px 2px #000000;
  background-color: rgba(40, 40, 40, 0.48);
  display: inline-block;
  transition: .2s ease-in-out;
}
